<!DOCTYPE html>
<html>
<head>
    <title>BikeShareLA</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include partials/head.ejs%>
</head>
<body>
<div class="container ">
    <h1>BikeShareLA</h1>
    <h1>This set contains information about bike sharing in LA from July 2016 - March 2017.</h1>

    <a href="https://s3.amazonaws.com/mindsumo/public/capital-one/los-angeles-metro-bike-share-trip-data.zip" target="_blank" data-msnode="3d708869" rel="nofollow">Access the data set here</a>
</div>


<% include partials/navbar.ejs%>

</body>
</html>



