<!DOCTYPE html>
<html>
  <head>
    <title>BikeShareLA</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <% include partials/head.ejs%>
  </head>
  <body>
  <div class="main text-center">
    <h1>BikeShareLA</h1>
    <h3>Analysis of bike-sharing from 2016-2017</h3>
  </div>


  <% include partials/navbar.ejs%>

  </body>
</html>



